<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="headsection">
        <label class="logo">Transport<span>U</span></label>
       
    <ul class="menuContainer">
        
        <li class="menuList"><a class="text-decoration-none" href="/homepage">Home</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">BUS</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">SHIP</a></li>
        <li class="menuList" ><a class="text-decoration-none" href="http://">PLANE</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">ABOUT US</a></li>
        
    </ul>
    <div class="menubar">
        <div class="bar line1"></div>
        <div class="bar line2"></div>
        <div class="bar line3"></div>
    </div>
</nav>

<%  if(noResult == true){ %>
    <div class="card mx-3">
        <h5 class="card-header text-center">Sorry</h5>
        <div class="card-body">
          <h5 class="card-title text-center">Trip not found</h5>
        
          
        </div>
      </div>
    <% } %>
<% result.forEach((data) => {   %>
<div class="card mx-3">
    <h5 class="card-header"><%= data.start_location %> to <%= data.end_location %></h5>
    <div class="card-body">
      <h5 class="card-title">Departure Date : <%= data.departure_date %></h5>
      <h6 class="card-title">Price : <%=data.price %></h6>
      <h6 class="card-title">BUS : <%= data.bus_id %></h6>
      <p class="card-text">
        <% if(data.start_location == 'Yangon'){ %>
            Yangon - Ann - Minbya - Mrauk U - Kyaut Taw - Ponnagyun - Sittwe 
        <% }else if(data.start_location == 'Sittwe'){ %>
                Sittwe - Ponnagyun - Kyaut Taw - Mrauk U - Minbya - Ann - Yangon
        <% } %>

        </p>
      <a href="/user/register/<%=data.route_id%>" class="btn btn-primary" >Book</a>
    </div>
  </div>
  <% }) %>
  <section class="footer">
    <div class="footerContainer">
        <div class="footerBox">
            <a  class="pagename" href="">Transport<span>U</span></a>
            <div class="socal">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="footerBox">
            <h3>Page</h3>
            <a href="">Home</a>
            <a href="">bus</a>
            <a href="">ship</a>
            <a href="">plane</a>
            <a href="">about us</a>
        </div>
        <div class="footerBox">
            <h3>legal</h3>
            <a href="">Privicy</a>
            <a href="">Refund Policy</a>
            <a href="">cookies Policy</a>
        </div>
        <div class="footerBox">
            <h3>Contact us</h3>
            <p>Yangon</p>
            <p>Sittwe</p>
            <p>09898495517</p>
        </div>
    </div>
    <div class="copyright">@2023 TransportU.com</div>
</section>
<script src="/script/search_data.js"></script>
</body>
</html>